body {
    border-width: 20px;
    border-style: groove;
    border-color:rgb(240, 116, 70);
    

}

a{ 
    text-align: center;
    color: white;
    font-size: 24px
}
Nav{
    font-size: medium;
}
main{
    text-align: center;
    background-color: rgb(114, 8, 143);
}